body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #f8ffd0;
    text-transform: uppercase;
    text-align: center;
}

.haeder__text {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.container {
    background-color: #fff;
    width: 80vh;
    height: inherit;
    margin: 10px auto;
    padding-bottom: 15px;
    border-radius: 15px;
}

.intro {
    height: auto;
}

.main__heading {
    padding: 10px;
}

.main__image {
    width: 100%;
    margin: 0;
    padding: 0;
}

.inner__text {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.author__links {
    background-color: #f8ffd0;
    padding: 10px 50px;
    width: auto;
    height: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin: 5px;


    transition: .2s;
}

.author__links:hover {
    color: #fff;
    background-color: #000;
}

.return__button {
    width: 80vh;
    margin: 0 auto;
}

footer {
    margin: 0;
    height: 70px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f8ffd0;
    line-height: 70px;
}

.footer__a {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.avatar {
    margin-left: 10px;
    width: 200px;
    border-radius: 5px;
}
.article {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}
.article p {
    padding: 0;
    margin-top: 0;
    margin-left: 10px;
}
.article h4 {
    width: fit-content;
    white-space: nowrap;
}
.links {
    margin: 0 auto;
}